In [9]:
import os
current_path = os.path.dirname(os.path.abspath(__name__))
folder_path = os.path.join(current_path,'每日各站進出站人數')
fileName_list = []
for filename in os.listdir(folder_path):
    if '每日各站進出站人數' in filename:
        fileName_list.append(os.path.join(folder_path,filename))

In [11]:
import pandas as pd
pd.read_csv(fileName_list[0])

       trnOpDate  staCode  gateInComingCnt  gateOutGoingCnt
0       20200101      900             7552             8154
1       20200101      910             1020             1135
2       20200101      920             1623             1972
3       20200101      930             4130             4813
4       20200101      940             1818             2128
...          ...      ...              ...              ...
86927   20201231     7360             3523             3602
86928   20201231     7361                3               18
86929   20201231     7362               28               34
86930   20201231     7380              609              604
86931   20201231     7390              377              444

[86932 rows x 4 columns]